Package: python3-add
Source: add
Version: 1.0-1
Architecture: all
Maintainer: RajasxPuranikxAnupam <anupampatil44@gmail.com>
Installed-Size: 21
Depends: python3:any
Section: python
Priority: optional
Description: UNKNOWN
